@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Custom scrollbar for chat area */
#main-chat-area::-webkit-scrollbar {
  width: 6px;
}

#main-chat-area::-webkit-scrollbar-track {
  background: transparent;
}

#main-chat-area::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

#main-chat-area::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}